/*=============================*/
/*======== RESET Y BASE ========*/
/*=============================*/
/* #region:*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;      /* Firefox */
    -webkit-box-sizing: border-box;   /* Chrome, Safari */
    -o-box-sizing: border-box;        /* Opera */
}

body {
    min-height: 100vh;
    min-width: 280px;
    position: relative; 
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2cc 100%);
}

/* img */
img {
    width: 100%;
}
/* #endregion*/

/*=============================*/
/*======= LAYOUT GENERAL =======*/
/*=============================*/
            /* #region:*/
/*header*/
.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 1rem;
}

.encabezado,   
footer {
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}

/* Logo */
.encabezado div{
    width: 35%;
}

main {
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* aplicado a main pagina-favorito */
.main-section {
    margin-top: 2rem;
}

footer {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin-top: auto; /* para que se quede fijo abajo*/
    padding: 20px 10px;
}

footer img {
    max-width: 30px;
    margin-right: 5px;
}

footer p {
    text-align: center;
}

button {
    cursor: pointer;
}
/* #endregion de layout*/

/*========================================*/
/*==== FORMULARIOS BUSCADOR / HEADER  ====*/
/*========================================*/
            /* #region:*/
/* Buscador */
.buscador {    
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 10px;
    gap: 0.5px; 
}

/* Barra buscador */
.buscador input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

.buscador input:focus {
    border-color: rgb(196, 163, 16);
    box-shadow: 0 0 10px rgba(172, 127, 2, 0.555);
}

/* boton del buscador */
.btn {
    background-color: rgba(0, 0, 0, 0.904);
    border: 3px solid rgba(211, 164, 12, 0.966);
    color: white;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: rgba(126, 231, 210, 0.664);
    color: black;
}

/* #endregion */

/*=============================*/
/*=== SELECT DE ORIENTACION ===*/
/*=============================*/
            /*#region:  */
            
.escondido {
    position: relative;
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 5px;
    width: 100%;
    height: 100px;
    background-color: #000000;
    border-radius: 0 0 8px 8px;
    border: 2px solid rgb(150, 130, 19);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Mostrar el bloque cuando quieras */
.escondido.activo {
    display: flex;
}

/* Formulario centrado */
#form-eje {
    width: 85%;
    display: flex;
    justify-content: center;
}

/* Select estilizado */
#eje {
    height: 30%;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;

}

/* Efecto visual al pasar el ratón o enfocar */
#eje:hover,
#eje:focus {
    border-color: #2196f3;
    box-shadow: 0 0 4px rgba(33, 150, 243, 0.3);
}

.reloade-cont {
    position: absolute;
    right: 30px;
    top:13px;
    max-height: 70px;
    max-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reloade-fv {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
}

.reloade-fv button {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    background-image: linear-gradient(to right, #c3cfe2 0%, #f5f7fa 100%);

    border: none;
}

/*#endregion de selector de orientación*/

/*=============================*/
/*===== CATEGORIAS (Home) =====*/
/*=============================*/
            /*#region:*/
.categorias-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 1rem;
    gap: 1rem;
}

.categoria-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

.card {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* imagen categoria */
.card img {
    width: 100%;    
    height: 400px;            /* Fijas la altura */
    object-fit: cover;        /* Recorta la imagen sin deformarla */
    border-radius: 8px;
    display: block;
    transform: scale(1);
    transition: transform 0.8s ease;
}

/* titulo categoria */
.card p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    color: white;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(100%);
    transition: transform 0.6s ease, opacity 0.6s ease;
    border-radius: 8px;
    font-size: large;
}
/* Hover: zoom suave y texto que aparece */
.card:hover img {
    transform: scale(1.2);
}

.card:hover p {
    opacity: 1;
    transform: translateY(0);
}
/* #endregion de categorías*/

/*============================================*/
/*====  GALERÍA De RESULTADOS / FAVORITOS ====*/
/*============================================*/
            /* #region:*/
            
.card-container {
    width: 95%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* BASE para movil -> 1 foto por fila */
.card-container article {
    flex: 0 0 100%; /* para que ocupe toda la fila */
    max-width: 500px; /* evitar que crezca demasiado(gjigante) en moviles grandes */
    height: auto;
    display: flex;    
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

.card-container article figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    border-radius: 10px;
}

.card-container article img {
    --height: 200px;
    width: 100%;
    height: var(--height);            /*Fijas la altura */
    object-fit: cover;        /* Recorta la imagen sin deformarla */
    transition: transform 0.4s ease;  /* suavidad del efecto */
    margin-bottom: 10px;
}



.card-container article img:hover {
    transform: scale(1.05);    /* se acerca un poquito */
    border-radius: 8px;
}
/* #endregion*/

/*=============================*/
/*======= BOTÓN FAVORITO =======*/
/*=============================*/
            /* #region:*/
.btn-corazon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    padding: 0.5rem 0.8rem;
    /* glassmosphism */
    background: rgba(255, 255, 255, 0.2); /* Color semi-transparente */
    backdrop-filter: blur(10px);          /* Difuminado del fondo detrás */
    -webkit-backdrop-filter: blur(10px);  /* Compatibilidad con Safari */
    border-radius: 10px;                  /* Bordes redondeados */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* Sombra ligera */

    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 14px 7px rgba(255, 255, 255, 0.7);

}

.btn-corazon {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.btn-corazon {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}


.btn-favorito {
    --color: rgb(206, 202, 202); /* color inicial */
    height: 10px;
    width: 10px;
    border: none;
    position: relative;
    background-color: var(--color);
    transform: rotate(-45deg);
    margin: 5px auto;
    cursor: pointer;
}

.btn-favorito::before, 
.btn-favorito::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color);
    border-radius: 50%;
}

.btn-favorito::before {
    top: -5px;
    left: 0;
}

.btn-favorito::after {
    top: 0;
    left: 5px;
}
/* #endregion*/

/*=============================*/
/*========= PAGiNACIÓN =========*/
/*=============================*/
            /* #region:*/
            
.paginado-container ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

.btn-paginado {
    padding: 0.3rem 0.8rem;
    margin: 10px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.815);
    color: white;
    border: 2px solid rgb(170, 147, 18);
    scale: 1;

} 

.btn-paginado:hover {
    scale: 1.3;
}

.paginado-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
/* #endregion*/

/*===============================================================

                            480px
                    moviles horizontales        
===============================================================*/ 
@media (min-width: 480px) {
    /* Ejemplo: aumentar padding general, ajustar tipografía */
    .buscador {
        /* width: 100%;
        max-width: 95%;
        margin: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1; */   

        width: 100%;
        max-width: 95%;
        display: flex;
        flex: 1;
        align-items: center;
        margin: 0;
        padding: 10px;   
        gap: 10px;
    }

    .categorias-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .card-container article {
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}

/*===============================================================

                            768px
    Pantallas medianas tablets (algunos moviles en horizontal)           
===============================================================*/ 

@media (min-width: 768px) {
    /* Header pasa de columna a fila */

    /* .buscador { 
        max-width: 400px; 
        margin: 0 20px; 
    } */

    /* .encabezado { 
        max-width: 400px; 
        margin: 0 20px; 
    } */

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .encabezado {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    /* .categorias-container { 
        justify-content: space-evenly; 
    } */
    .categorias-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .encabezado .logo {
        width: 30%;
        max-width: 160px;
    }

    .buscador {
        height: 60px;
        width: 100%;
    }

    .encabezado .btn {
        width: auto;
    }

    /* .card-container { 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center; 
    } */
    .categoria-container {
        flex: 0 0 calc(50% - 1rem); /* 3 por fila */
        max-width: calc(50% - 1rem);
    }

    .card-container article {
        
        flex: 0 0 calc(33.333% - 1rem);
        max-width:  calc(33.333% - 1rem);
    }
    
}

/*===============================================================

                            1024px
                    Pantallas grandes (laptops)         
===============================================================*/

@media (min-width: 1024px) {

    /* Aumentar anchos máximos, márgenes laterales */
    .main-section { 
        width: 90%; 
        margin: 0 auto; 
    }
    
    .categoria-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 2rem auto;
        gap: 1rem;
    }

    .categoria-container {
        flex: 0 0 calc(33.333% - 1rem);
        max-width: calc(33.333% - 1rem);
    }

    .card-container article {
        flex: 0 0 250px; /** ancho fijo */
        max-width: 250px;
    }
    
}

/*===============================================================

                            1280px
                        Monitores grandes    
===============================================================*/
@media (min-width: 1280px) {
    /* añadir espacio entre columnas o aumentar tamaño de texto */

    body {
        font-size: 1.05rem;
    }

    .card-container article {
        width: 300px;
    }

    .card-container article {
        flex: 0 0 300px; /* hacer las cards un poco más grandes */
        max-width: 300px;
    }

    .buscador {
        max-width: 900px;
    }

}

/*===============================================================

                            1440px
                --- XL+ (1440px en adelante) ---
        → monitores muy amplios / pantallas de presentación            
===============================================================*/

@media (min-width: 1440px) {
  /* Limitar ancho máximo general para no estirar demasiado */
  /* main { max-width: 1400px; margin: 0 auto; } */
}

