* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;      /* Firefox */
    -webkit-box-sizing: border-box;   /* Chrome, Safari */
    -o-box-sizing: border-box;        /* Opera */
}

/* img */
img {
    width: 100%
}

/*header*/
.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #a5d3ca;
    padding: 20px;
}

/* Logo */
.encabezado div{
    width: 15%;
}


/* Buscador */
.buscador {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
    padding: 20 px 
}

/* Barra buscador */
.buscador input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

.buscador input:focus {
    border-color: rgb(7, 160, 129);
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.3);
}

.btn {
    background: rgb(7, 160, 129);;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: rgb(5, 126, 102);
}


.escondido {
    display: flex; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 20px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Mostrar el bloque cuando quieras */
.escondido.activo {
    display: flex;
}

/* Formulario centrado */
#form-eje {
    width: 85%;
    display: flex;
    justify-content: center;
}

/* Select estilizado */
#eje {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
}

/* Efecto visual al pasar el ratón o enfocar */
#eje:hover,
#eje:focus {
    border-color: #2196f3;
    box-shadow: 0 0 4px rgba(33, 150, 243, 0.3);
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #a5d3ca;;
    padding: 20px 10px;
}

footer p {
    text-align: center;
}
